@import url("https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #dfbc3d 0%, #ff3ac4 100%);
}

body::after {
  content: "";
  background-image: url("./images/hexagon.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-family: "Itim", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: 32px;
}

.logo img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16rem;
}

.content_title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 16px;
  text-align: center;
}

.content_description {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.9;
  margin-bottom: 2rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .form_input {
  max-width: 500px;
  min-width: 350px;
  height: 38px;
  background: #fff;
  outline: none;
  border: none;
  text-indent: 12px;
  font-size: 16px;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.form .form_button {
  width: 100px;
  height: 36px;
  background: #4158b0;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 4rem;
  border-radius: 3px;
}

.download_btn {
  color: #fff;
  background: #4158b0;
  border-radius: 6px;
  padding: 8px 12px;
  transition: 0.2s ease;
}

.download_btn:hover {
  background: #3d4d97;
  box-shadow: 0px 4px 15px -4px rgb(108, 108, 112);
}

footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  bottom: 4vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer p {
  font-size: 14px;
  font-weight: 500;
}

footer a {
  text-decoration: none;
  color: #3751c4;
  font-weight: 700;
  transition: 0.2s ease;
}

footer a:hover {
  color: #8234ff;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
  .content {
    margin-top: 11rem;
  }

  .content_title {
    font-size: 40px;
  }

  .form .form_input {
    max-width: 400px;
    min-width: 330px;
    height: 44px;
  }

  .form_button {
    padding: 12px 20px;
  }
}
